.radio-button {
  min-height: 20px;
  cursor: pointer;
  padding-left: 20px;
  position: relative;
  margin-right: 5px;

  .input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .radio-input {
    position: absolute;
    width: 15px;
    top: 3px;
    left: 0;
    height: 15px;
    border: 1px solid #d8cece;
    border-radius: 50%;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #1890ff;
      content: '';
      width: 0px;
      height: 0px;
      border-radius: 50%;
      transition: 0.2s ease all;
    }
  }
}
.active-radio-button {
  .radio-input {
    border: 1px solid #2b2020;
    &::before {
      width: 10px;
      height: 10px;
      transition: 0.2s ease all;
    }
  }
}
.disabled-radio-button {
  color: #d8cece;
}
